@keyframes modal-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.modal-enter {
  animation: modal-in 0.1s ease-out forwards;
}

.modal-exit {
  animation: modal-out 0.11s ease-in forwards;
}
